/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.header-up img {
		height: 118px;
		position: center;
		object-fit: cover;
	  }
	
	  .header-inner, .collection, .items {
		flex-wrap: wrap;
		justify-content: space-around;
	  }
	
	  .collection,
	  .infoblock {
		font-size: 18px;
		line-height: 20px;
		flex-wrap: wrap;
		align-self: center;
	  }
	
	  .items, .info, .header-inner {
		width: 100%;
		margin-top: 10px;
		font-size: 16px;
		line-height: 18px;
	  }
	
	  .item {
		width:45%;
	  }
	
	  .blockimg, .tech {
		order: 0;
		width: 100%;
		margin: 0 0 20px 0;
	  }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.header-up img {
		height: 118px;
		position: center;
		object-fit: cover;
	  }
	
	  .header-down img {
		height: 140px;
		position: center;
		object-fit: cover;
	  }
	
	  .header-inner, .collection, .items {
		flex-direction: column;
	  }

	  .gallery {
		justify-content: center;
	}
	
	  .collection,
	  .infoblock {
		font-size: 18px;
		line-height: 20px;
		flex-wrap: wrap;
	  }

	  .caption {
		  max-width: 290px;
	  }
	
	  .item, .info, .header-inner {
		width: 100%;
		margin-top: 10px;
		font-size: 16px;
		line-height: 18px;
	  }
	
	  .blockimg, .tech {
		order: 0;
		width: 100%;
		margin: 0 0 20px 0;
	  }
}

