body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  cursor: pointer;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 1024px) {
  .container {
    padding: 0;
  }
}
