@import "../../node_modules/normalize.css/normalize";
@import "./fonts";
@import "./global";
@import "./owl";

@import "./header";
@import "./popular";
@import "./infoblock";

footer {
  flex-shrink: 0;
  padding-top: 43px;
  background-color: #142f4f;
  margin-top: 84px;
}

.group {
  width: auto;
}

@media only screen and (max-width: 768px) {
  .infoblock {
    font-size: 18px;
    line-height: 20px;
    flex-wrap: wrap;
    align-self: center;
  }

  .info {
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
    line-height: 18px;
  }

  .blockimg,
  .tech {
    order: 0;
    width: 100%;
    margin: 0 0 20px 0;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .infoblock {
    font-size: 18px;
    line-height: 20px;
    flex-wrap: wrap;
  }

  .info {
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
    line-height: 18px;
  }

  .blockimg,
  .tech {
    order: 0;
    width: 100%;
    margin: 0 0 20px 0;
  }
}
