@import "../../node_modules/normalize.css/normalize";
@import "./fonts";
@import "./global";
@import "./owl";

@import "./header";
@import "./popular";

.infoblock {
  display: flex;
  justify-content: space-between;
  color: #142f4f;
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  margin: 20px 0;
}

.imgs {
  height: 84%;
  background-size: cover;
  background-position: center;
}

.infoblock {
  align-self: flex-start;
}

.blockimg {
  max-width: 480px;
  max-height: 360px;
  width: 100%;
  margin-right: 36px;
}

.info {
  max-width: 740px;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.tech {
  order: 1;
  margin-right: 0;
  margin-left: 36px;
}

footer {
  flex-shrink: 0;
  padding-top: 43px;
  background-color: #142f4f;
  margin-top: 84px;
}

.group {
  width: auto;
}

@media only screen and (max-width: 768px) {
  .infoblock {
    font-size: 18px;
    line-height: 20px;
    flex-wrap: wrap;
    align-self: center;
  }

  .info {
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
    line-height: 18px;
  }

  .blockimg,
  .tech {
    order: 0;
    width: 100%;
    margin: 0 0 20px 0;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .infoblock {
    font-size: 18px;
    line-height: 20px;
    flex-wrap: wrap;
  }

  .info {
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
    line-height: 18px;
  }

  .blockimg,
  .tech {
    order: 0;
    width: 100%;
    margin: 0 0 20px 0;
  }
}
